.AboutPage1 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 649px;
    width: 100%;
    background-image: url('../images/AboutPage1Bg.png');
}

.AboutPage1Heading {
    position: relative;
    display: flex;
    top: 25%;
    width: 40%;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 69px;
    letter-spacing: -0.01em;
    text-align: center;
    color: white;
    align-self: center;
}   