.ContentBuildingDAPP {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-items: left;
    top: 15%;
    left: 10%;
    width: 40%;
    height: auto;
    align-items: center;
}

.PictureBuildingDAPP {
    position: relative;
    left: 11.7%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.PictureBuildingDAPP > img {
    position: relative;
    display: flex;
    width: 687.41px;
    height: 452.6px;
    vertical-align: middle;
}