.CompaniesPage {
    position: relative;
    display: flex;
    height: 567px;
    background: #5F4BFF;
    gap: 15em;
}

.TitleCompanies {
    position: relative;
    top: 35%;
    left: 15%;
    height: 20%;
    font-family: Mulish;
    font-style: normal;
    width: 25%;
    text-align: left;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
}

.CompaniesGrid {
    position: relative;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    top: 35%;
    left: 10%;
    width: 40%;
    height: 20%;
    gap: 2em;
}

.CompaniesPictureBox {
    position: relative;
    display: flex;
    width: 157px;
    height: 46px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}


.CompaniesPictureBox > img {
    position: relative;
}
