.CosmosLandingPage2 {
    position: relative;
    display: flex;
    height: 482px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url('../images/CosmosPage2Bg.png');
}

.CosmosLandingPage2Heading {
    position: relative;
    font-family: Mulish;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    width: 80%;
}