.HomeFeaturesPage {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 1207px;
    width: 100%;
    background:black;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.HomeFeaturesTitle {
    position: relative;
    top: 18%;
    font-family: Mulish;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    width: 60%;
    z-index: 5;
}

.HomeFeaturesPage video {
    position: relative;
    width: 1038.86px;
    height: 732.23px;
    align-content: center;
    z-index: 0;
}

.HomeFeaturesLines {
    position: relative;
    top: -23%;
    align-content: center;
    justify-content: center;
    z-index: 0;
}

.HomeFeaturesContent {
    position: relative;
    top: -24%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-items: center;
    justify-content: center;
    gap: 1em;
}

.HomeFeaturesContentBox {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    top: 1%;
    width: 17%;
    padding: 1em;
    background: #242424;
    border-radius: 7px;
}

.HomeFeaturesContentLogo {
    position: relative;
    top: 5%;
    width: 32px;
    height: 30px;
}

.HomeFeaturesHeading {
    position: relative;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.HomeFeaturesSubHeading {
    position: relative;
    top: -5%;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}