.SentinelPage {
    position: relative;
    display: flex;
    height: 881px;
    background: #0D0D0D;
    box-shadow: 0px -9px 44px 15px rgba(0, 0, 0, 0.25);
}

.ContentSentinel {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-items: left;
    top: 25%;
    left: 10%;
    width: 40%;
    height: auto;
    align-items: center;
}

.HeadingSentinel {
    position: relative;
    display: flex;
    top: -15%;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    justify-content: left;
    color: #FFFFFF;
}

.SubHeadingSentinel {
    position: relative;
    top: -15%;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    width: 100%;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}

.SentinelPicture {
    position: relative;
    top: 20%;
    left: 20%;
    width: 40%;
}

.SentinelPicture > img {
    position: relative;
    width: 556px;
    height: 464px;
}

.DownloadsPageSentinel {
    position: relative;
    display: flex;
    top: -10%;
    font-family: Mulish;
    font-style: normal;
    width: 100%;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #5B47FF;
    align-items: center;
}

.DownloadsPageSentinel > img {
    position: relative;
    width: 19px;
    height: 19px;
    left: 5%;
}